html,body{
    padding: 0;
    margin: 0;
    height: 100%;
}
html{
    height: 100%;
}
body{
    font-family: 等线,微软雅黑;
    color: #666;
    font-weight: 300;
    font-size:14px ;
    color: #555;
}
*{
    box-sizing:border-box;
}
.inputHelper{
    padding: 5px;
    display: block;
    text-align: right;
    font-size: 12px;
    color: #ccc;
}


.padding-all{
    padding: 0.75em;
}
.padding-h{
    padding-left: 0.75em;
    padding-right: 0.75em;
}
.padding-v{
    padding-bottom: 0.75em;
    padding-top: 0.75em;
}
.padding-top{
    padding-top: 0.75em;
}
.padding-left{
    padding-left: 0.75em;
}
.padding-right{
    padding-right: 0.75em;
}
.padding-bottom{
    padding-bottom: 0.75em;
}



*{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
html, body {
    height:100%;
    width:100%;
    line-height:1.45em;
    text-rendering:auto;
    color:#555;
}
body{
    margin: 0;
    position: relative;
    font-family: 'Microsoft YaHei';
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #fafafa;
}

::-webkit-scrollbar { width: 7px; height: 7px; }
::-webkit-scrollbar-track-piece { background-color: #f8f8f8; -webkit-border-radius: 0px; }
::-webkit-scrollbar-thumb:vertical { height: 7px; background-color: #888; -webkit-border-radius: 0px; }
::-webkit-scrollbar-thumb:horizontal { width: 7px; background-color:#888; -webkit-border-radius:0px; }

@font-face {
    font-family: 'Symbol';
    src: url("/Fonts/segmdl2.woff") format("woff"); /*Segoe MDL 2 Assets*/
}

symbol,
.symbol{
    font-family: 'Symbol','微软雅黑';
}

a,
a:link,
a:visited,
a:hover,
a:active,
a:focus{
    text-decoration:none;
    outline:none;
    cursor:pointer;
}
.Br{
    float:none !important;
    clear:both !important;
    display:block !important;
}
/*限制单行，不允许换行*/
*.SingleLine {
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}


.Abs_TL,.Abs_TR,.Abs_BL,.Abs_Center,.Abs_RT,.Abs_BC{
    display:inline-block;
    position:absolute;
}

.Abs_TL{
    top:0;
    left:0;
}
.Abs_TR{
    top:0;
    right:0;
}
.Abs_BL{
    bottom:0;
    left:0;
}
.Abs_BC{
    bottom:0;
    left:0;
    right:0;
    margin:auto;
}
.Abs_Center{
    left:0;
    top:0;
    right:0;
    bottom:0;
    margin:auto;
}
.Abs_RT{
    right:0;
    top:0;
}



.ZoomBgImg,.FillBgImg,.RoundFillBgImg,.RoundZoomBgImg{
    background-repeat:no-repeat; background-position:center;
}
/*等比例缩放背景*/
.ZoomBgImg{
    background-size:contain;
}
/*等比例缩放填充背景*/
.FillBgImg{
    background-size:cover;
}
/*圆角等比例缩放背景*/
.RoundFillBgImg{
    background-size:cover; border-radius:50%;
}
/*圆角填充背景*/
.RoundZoomBgImg{
    background-size:contain; border-radius:50%;
}



/*不可选中的文本*/
.UnSelectText {
    cursor: default;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
/*填满*/
.MaxSize{
    width:100%;
    height:100%;
    display:block;
}
iframe.MaxSize {
    overflow: visible;
    border: none;
}



/*滚动元素*/
/*内滚动：纵向*/
.InnerScroll_V{
    height:100%;
    overflow-y:auto;
    max-width:100%;
    overflow-x:hidden;
}
/*内滚动：横向*/
.InnerScroll-H{
    height:100%;
    width:auto;
    display:flex;
}
.InnerScroll_V, .InnerScroll-H {
    -ms-scrollbar-track-color: #fff;
    scrollbar-track-color: #fff;
    -ms-scrollbar-face-color: #fff;
    scrollbar-face-color: #fff;
    -ms-scrollbar-darkshadow-color: #fff;
    scrollbar-darkshadow-color: #fff;
    -ms-scrollbar-base-color: #fff;
    scrollbar-base-color: #fff;
    -ms-scrollbar-arrow-color: #aaa;
    scrollbar-arrow-color: #aaa;
    -ms-scrollbar-3dlight-color: #fff;
    scrollbar-3dlight-color: #fff;
    -ms-scrollbar-highlight-color: #0094ff;
    scrollbar-highlight-color: #0094ff;
}




/*折叠缩放分组*/
.OAUI_ZoomGroup {
    display: none !important;
}
.OAUI_ZoomGroup + label {
    display: block !important;
    width: 100% !important;
    padding: 10px !important;
    cursor: pointer;
    margin: 0 !important;
    opacity: 0.4;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    position: relative;
    clear: both;
    height: 3.6em !important;
    border-bottom:1px solid rgba(128,128,128,0.2);
}
.OAUI_ZoomGroup + label *{
    vertical-align: middle;
}
.OAUI_ZoomGroup + label:hover {
    color: #77a701;
    opacity: 0.7;
}
.OAUI_ZoomGroup:checked + label {
    opacity: 1;
    color: #77a701;
    background-color: #fff;
    border-bottom-color:transparent;
}
.OAUI_ZoomGroup + label:before {
    font-family: 'FontAwesome';
    content: "" !important;
    float: right;
    vertical-align: middle;
}
.OAUI_ZoomGroup:checked + label:before {
    content: "" !important;
}
.OAUI_ZoomGroup + label + div {
    display: none;
}
.OAUI_ZoomGroup:checked + label + div {
    display: block;
    padding-bottom: 0.5em;
    border-bottom:1px solid rgba(128,128,128,0.2);
    background-color:rgba(255,255,255,0.8);
    min-height:50px;
    -moz-animation: heightAnima 0.2s;
    -o-animation: heightAnima 0.2s;
    -webkit-animation: heightAnima 0.2s;
    animation: heightAnima 0.2s;
}
.OAUI_ZoomGroup:checked + label + div.Top {
    -moz-transform-origin: top;
    -ms-transform-origin: top;
    -o-transform-origin: top;
    -webkit-transform-origin: top;
    transform-origin: top;
}
.OAUI_ZoomGroup:checked + label + div.Bottom {
    -moz-transform-origin: bottom;
    -ms-transform-origin: bottom;
    -o-transform-origin: bottom;
    -webkit-transform-origin: bottom;
    transform-origin: bottom;
}


.Table{
    display:table;
    width:100%;
}
.Table>*,
.TH,
.TR{
    display:table-row;
}
.Table>*>*,
.TH>*,
.TR>*,
.TD{
    display:table-cell;
}


input, button,select,textarea {
    border:1px solid #ddd;
    -moz-box-sizing: border-box !important;
    -webkit-box-sizing: border-box !important;
    box-sizing: border-box !important;
    font-size: 1em;
}
input:focus,select:focus,textarea:focus{
    color:rgb(64,154,213);
    border-color:currentColor;
}

input,select,textarea{
    padding-left:0.65em;
    line-height:1em;
    background-color:transparent;
    outline:none;
    vertical-align:middle;
}
button{
    line-height:1em;
    cursor:pointer;
    background-color:transparent;
    outline:none;
    vertical-align:middle;
    border:none;
}
input:not(.DefaultSize),
button:not(.DefaultSize),
select:not(.DefaultSize),
input[type=radio]+label,
input[type=checkbox]+label {
    height:2.3em;
}
/*
input:not(.DefaultSize):not([type=radio] ):not([type=checkbox] ):not([type=number] ):not([type=datetime] ),
textarea:not(.DefaultSize){
    width:250px;
}*/
.Input-4X{
    width:504px !important;
}
.Input-3X{
    width:379px !important;
}
.Input-2X{
    width:254px !important;
}
.Input-1X{
    width:125px !important;
}
input[type=number]:not(.DefaultSize),
input[type=datetime]:not(.DefaultSize),
select:not(.DefaultSize),
input[type=radio]+label,
input[type=checkbox]+label {
    width:125px;
}
textarea{
    padding:0.65em;
    height:7em;
    line-height:1.5em;
}
input[type=checkbox],
input[type=radio]{
    display:none !important;
}
input[type=radio] + label,
input[type=checkbox] + label {
    display: inline-block;
    line-height: 2.3em;
    font-size: 1em;
    cursor: pointer;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
input[type=radio]+label:hover,
input[type=checkbox]+label:hover{
    color:rgb(64,154,213);
}
input[type=radio]+label:before,
input[type=checkbox]+label:before {
    font-family:Symbol;
    display:inline-block;
    vertical-align:top;
    padding-right:0.3em;
    font-size:1.15em;
    height:2em;
}
input[type=radio]+label:before{
    content:"";
}
input[type=checkbox]+label:before{
    content:"";
}
input[type=radio]:checked + label:before,
input[type=checkbox]:checked + label:before {
    color: rgb(64,154,213);
    -moz-animation: zoomAnima 0.2s !important;
    -o-animation: zoomAnima 0.2s !important;
    -webkit-animation: zoomAnima 0.2s !important;
    animation: zoomAnima 0.2s !important;
}
input[type=radio]:checked + label:before{
    content:"";
}
input[type=checkbox]:checked + label:before{
    content:"";
}
input[type=radio][value='0']+label,
input[type=checkbox][value='0']+label,
input[type=radio][value='0']+label:before,
input[type=checkbox][value='0']+label:before,
input[type=radio][value='-1']+label,
input[type=checkbox][value='-1']+label,
input[type=radio][value='-1']+label:before,
input[type=checkbox][value='-1']+label:before{
    color:#f87979 !important;
}
input[type=radio][value='1']+label,
input[type=checkbox][value='1']+label,
input[type=radio][value='1']+label:before,
input[type=checkbox][value='1']+label:before{
    color:rgb(64,154,213) !important;
}

select[multiple=multiple]{
    height:10em;
    padding:0.5em;
    line-height:2em;
}
select[multiple=multiple] option{
    padding-left:0.5em;
    padding-right:0.5em;
    cursor:pointer;
}
select[multiple=multiple] option:before{
    content:"";
    padding-right:0.35em;
    font-family:Symbol;
    vertical-align:top;
    display:inline-block;
}
select[multiple=multiple] option:checked:before{
    content:"";
    font-family:Symbol;
}


fieldset input[type='file'],
* input[type='file']{
    display:none !important;
    visibility:collapse;
    height:0 !important;
}
input[type='file'] + label{
    position:relative;
    display:block;
    height:2.3em;
    line-height:2.2em;
    font-size:1em;
    border:1px solid #ddd;
    vertical-align:middle;
    padding-left:0.75em;
    background-color:#fafafa;
    cursor:pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
input[type='file'] + label:active{
    background-color:rgb(64,154,213);
    border-color:rgb(64,154,213);
    color:#fff;
}
input[type='file'] + label:before,
input[type='file'] + label:after{
    display:inline-block;
    height:100%;
    vertical-align:top;
    text-align:center;
    /*background-color:#ddd;*/
    float:right;
}
input[type='file'] + label:before {
    line-height: 2em;
    font-size: 1.15em;
    font-family: Symbol;
    content: "";
    width: 2.5em;
}
input[type='file'] + label:after{
    content:"选择文件";
    line-height:2.545em;
    font-size:0.9em;
}
input.ValidError:not([type=radio]):not([type=checkbox]):not([type=file]):not([type=hidden]),
select.ValidError,
textarea.ValidError{
    border-color:#f87979 !important;
    box-shadow:0 0 5px #f87979 !important;
}

.Btn:active,.BtnBlock:active,
button:active{
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
    -moz-animation: A_Flash 0.2s linear;
    -o-animation: A_Flash 0.2s linear;
    -webkit-animation: A_Flash 0.2s linear;
    animation: A_Flash 0.2s linear;
}

fieldset .InputHelpe{
    display:block;
    text-align:right;
    opacity:0.7;
    vertical-align:middle;
}
.InputHelpe:before{
    font-family:Symbol;
    vertical-align:middle;
    display:inline-block;
    padding-right:0.35em;
    content:"";
}
.InputHelpe.Pass:before{
    color:rgb(64,154,213);
    content:"";
}
.InputHelpe.Error:before{
    content:"";
    color:#f87979;
}

pre{
    line-height:1.5em;
    font-family:"微软雅黑";
    padding:0.75em;
    border:1px solid #ddd;
    white-space:pre-wrap;
}

fieldset{
    text-align: left;
    padding:0.75em;
    max-width:400px;
    border:1px solid #eee;
    outline:none !important;
    background-color:#fff;
    box-shadow:0 0 5px #ccc;
}
fieldset>input:not([type=radio]):not([type=checkbox]),
fieldset textarea,
fieldset>select,
fieldset>button{
    display:block !important;
    width:100% !important;
}
fieldset>input:not([type=radio]):not([type=checkbox]):not(:last-child),
fieldset>textarea:not(:last-child),
fieldset>select:not(:last-child),
fieldset>button:not(:last-child){
    margin-top:0.75em;
}
fieldset legend{
    background-color:#fff;
    border:1px solid #eee;
    padding:0.5em 0.35em;
    text-transform:uppercase;
}

template{
    display:none !important;
}

article{
    background-color:#fff;
    border-top:1px solid #eee;
    padding:0.75em;
    line-height:1.75em;
    border-bottom:5px solid #fefefe;
}

.PopupBlock{
    display:block;
    position:absolute;
    margin:0 0 auto auto;
    top:0;
    left:0;
    right:unset;
    bottom:unset;
    background-color:#fff;
    box-shadow:0 0 5px #ccc;
    padding:0.75em;
}
.PopupBlock:not(.Active){
    display:none;
}
.PopupBlock.Active {
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    -webkit-transform-origin: top left;
    transform-origin: top left;
    -moz-animation: zoomAnima 0.3s !important;
    -o-animation: zoomAnima 0.3s !important;
    -webkit-animation: zoomAnima 0.3s !important;
    animation: zoomAnima 0.3s !important;
}

.Tips{
    z-index:999;
    border-radius:5px;
    position:fixed;
    top:25%;
    display:inline-block;
    margin:auto;
    left:0;
    right:0;
    width:300px;
    padding:0.75em;
    background-color:#fff;
    box-shadow:0 0 15px rgb(64,154,213);
}
.Tips>.Title{
    font-size:1.2em;
    padding-left:0.5em;
    border-left:0.45em solid rgb(64,154,213);
    margin-bottom:0.75em;
}
.Tips>.Body{
    font-size:15px;
    line-height:2em;
}
.Tips.Error{
    box-shadow:0 0 15px #f87979;
}
.Tips.Error>.Title{
    border-left:0.45em solid #f87979;
    color:#f87979;
}

.DialogMask{
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    position: fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    width: 100%;
    height:100%;
    margin: 0;
    display: block;
}
.DialogMask:not(.Active){
    display: none !important;
}

.DialogMask.Active .DialogForm{
    display: block !important;
}

.DialogForm{
    position:fixed;
    margin:auto;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:500px;
    max-height:100%;
    width:700px;
    max-width:100%;
    background-color:#fff;
    padding:3em 0 1em 0;
}
.DialogForm:not(.Active){
    display:none;
}
.DialogForm.Active {
    -moz-animation: zoomAnima 0.3s !important;
    -o-animation: zoomAnima 0.3s !important;
    -webkit-animation: zoomAnima 0.3s !important;
    animation: zoomAnima 0.3s !important;
}
.DialogForm>.Header{
    height:3em;
    position:absolute;
    top:0;
    left:0;
    width:100%;
    background-color:#fff;
    padding:1em 0;
}
.DialogForm>.Header .Title{
    border-left:5px solid rgb(64,154,213);
    padding-left:0.5em;
}
.DialogForm > .Body {
    padding:0 0.75em;
    height: 100%;
    overflow: auto;
    -ms-word-break: break-all;
    word-break: break-all;
    white-space: normal;
}
.DialogForm>.Header .Close{
    position:absolute;
    right:0;
    top:0;
    width:45px;
    height:45px;
    display:inline-block;
    margin:2px;
    line-height:35px;
    padding:5px;
    text-align:center;
    cursor:pointer;
}
.DialogForm>.Header .Close:before{
    content:"";
    font-family:Symbol;
}
.DialogForm > .Header .Close:active {
    color: rgb(64,154,213);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
.DialogForm fieldset{
    box-shadow:none;
    border:none;
}

.DataPageJump {
    display: table;
    height: 40px;
    margin: auto;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 5px #ccc;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
.DataPageJump>*{
    font-family:Symbol,微软雅黑;
    display:table-cell !important;
    min-width:45px;
    line-height:40px;
    vertical-align:middle;
    cursor:pointer;
}
.DataPageJump>*:active,
.DataPageJump>*.Active{
    background-color:rgb(64,154,213) !important;
    color:#fff !important;
}
.DataPageJump>*:first-child,
.DataPageJump>*:last-child{
    background-color:#fafafa;
}
.DataPageJump input{
    width:60px !important;
    height:45px !important;
    border:none;
    text-align:center !important;
    padding:0 0.3em !important;
    line-height:1em !important;
    border-left:1px solid #fafafa;
    background-color:#def;
    color:rgb(64,154,213);
}

.DataPageJump button{
    color:rgb(64,154,213);
}


.OAUI_TextBox {
    display: table !important;
    width: 100%;
    border: solid #ccc 1px;
}
.OAUI_TextBox > * {
    display: table-cell !important;
    vertical-align: middle;
}
.OAUI_TextBox input{
    border-left:0;
    padding-left:0;
    padding-right:0;
    width:100%;
    border:none !important;
    box-shadow:none !important;
}
.OAUI_TextBox input:not(:last-child){
    border-right:1px solid #ccc !important;
}
.OAUI_TextBox > *:first-child {
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    width: 3em;
}
.OAUI_TextBox > label:first-child {
    margin-bottom: 0 !important;
    width: 90px;
}
.OAUI_TextBox > symbol:first-child{
    font-size:1.35em;
}
.OAUI_TextBox > symbol:last-child,
.OAUI_TextBox > .fa:last-child,
.OAUI_TextBox > span:last-child {
    width: 3em;
    text-align: center;
}
.OAUI_TextBox > symbol.SymbolBtn:last-child:active
.OAUI_TextBox > .fa:last-child:active {
    color:#0094ff !important;
    background-color:rgba(255,255,255,0.5);
}

.Margin-All{
    margin:0.75em;
}
.Margin-H{
    margin-left:0.75em;
    margin-right:0.75em;
}
.Margin-V{
    margin-top:0.75em;
    margin-bottom:0.75em;
}
.Padding-All{
    padding:0.75em;
}
.Padding-H{
    padding-left:0.75em;
    padding-right:0.75em;
}
.Padding-V{
    padding-top:0.75em;
    padding-bottom:0.75em;
}

.Btn,.BtnBlock {
    cursor:pointer;
    border-radius: 5px;
    vertical-align: middle;
}
.BtnBlock{
    display:block;
    width:100%;
}
.Btn-Blue{
    color:#fff !important;
    background-color:rgb(64,154,213) !important;
    border:none;
}
.Btn-Yellow{
    color:#fff !important;
    background-color:#faac47 !important;
    border:none;
}
.Btn-Green{
    color:#fff !important;
    background-color:#90dc8c !important;
    border:none;
}
.Btn-Gray{
    color:#fff !important;
    background-color:#828297 !important;
    border:none;
}
.Btn-Red{
    color:#fff !important;
    background-color:#f87979 !important;
    border:none;
}

.Btn-Small{
    min-width:50px;
    width:65px;
    height:30px;
    line-height:1em;
    vertical-align:middle;
    display:inline-block;
}

.Text-Yellow{
    color:#faac47 !important;
}
.Text-Blue{
    color:rgb(64,154,213) !important;
}
.Text-Gray{
    color:#828297 !important;
}
.Text-Red{
    color:#f87979 !important;
}
.Text-Green{
    color:#90dc8c !important;
}

.Text-Center{
    text-align:center !important;
}