.MainLeft{
    overflow-y: auto;
    padding-bottom: 50px;
    position:absolute;height:100%;margin: 0;top: 0;left: 0;background: #f8f8f8;border-right: 1px solid #eee;width: 230px;
}
.MainLeftFooter{
    height: 50px;border-top: 1px solid #eee;width: 229px;position: fixed;background: #fff;
}
.MainLeftFooter>*{
    cursor: pointer;
    width:49px;line-height: 49px;width: 52px;text-align: center;font-size: 23px;display: inline-block;
}
.MainLeftFooter>*:hover{
    color: #0094ff;
}
.MainRight{
    height: 100%;
    overflow: hidden;
}
.MainTop{
    overflow-y: auto;
    height: 50%;border-bottom: 1px solid #eee;
}
.MainBottom{
    overflow-y: auto;
    height: 50%;
}
.MainRight.HideBootom .MainTop{
    height: 100% !important;
}
.MainRight.HideBootom .MainBottom{
    height: 0 !important;
}
.b{
    font-weight: 900;
}
.hideLeftBtn{
    z-index: 5;
    display:inline-block;
    height: 60px;
    width: 25px;
    line-height: 58px;
    border: 1px solid #eee;
    border-width: 1px 1px 1px 0;
    position: absolute;
    background: #f8f8f8;
    top:0;
    text-align: center;
    bottom: 0;
    margin: auto;
    color: #aaa;
    font-size: 12px;
    font-family: 'Symbol', '微软雅黑';
}
.hideLeftBtn:hover{
    background: #eee;
    color: #555;
}
.hideLeftBtn:before{
    content:"";
}
.hideBottomtBtn{
    z-index: 5;
    cursor: pointer;
    position:absolute;
    right: 0;
    top: 50%;
    border: solid #eee;
    border-width:0px 1px 1px 1px ;
    background-color: #f8f8f8;
    width: 70px;
    height: 30px;
    line-height: 30px;
    padding:0;
    margin: auto;
    text-align: center;
}
.hideBottomtBtn:hover{
    background: #eee;
    color: #555;
}
.HideBootom .hideBottomtBtn{
    border-width:1px 1px 0px 1px ;
    top: auto;
    bottom: 0;
}
.hideBottomtBtn:before{
    font-family: 'Symbol', '微软雅黑';
    content: "";
}
.HideBootom .hideBottomtBtn:before{
    content: "";
}


body{
    padding-left: 230px;height: 100%;overflow: hidden;
}
body.HideLeft .hideLeftBtn:before{
    content: "";
}
body.HideLeft{
    padding-left: 0;
}
body.HideLeft .MainLeft{
    display:  none;
}

.MainLeft ul{
    margin: 0;
    padding: 0 0.5em 0 0.5em;
}
.MainLeft ul>li{
    clear: both;
    cursor: pointer;
    padding: 0.65em 1em;
}
.MainLeft ul>li:hover{
    background:#f8f8f8;
}
.MainLeft ul>li:after{
    float: right;
    font-family: 'Symbol', '微软雅黑';
}
.MainLeft ul>li.new:after{
    content: "";
    color: #77a701;
}
.MainLeft ul>li.downloaded:after{
    content: "";
    color: #0094ff;
}

.appItemTemplate{
    display: inline-block;
    margin: 5px;
    width: 200px;
    height: 200px;
    padding: 10px;
    background: #fff;
    box-shadow: 0 0 3px #ccc;
    vertical-align: top;
    position: relative;
    cursor: pointer;
}
.appItemTemplate *{
    vertical-align: middle;
}
.appItemTemplate cite{
    font-size: 11px;
    color: #aaa;
    font-style: normal;
}
.appItemTemplate a{
    color: #468;
    font-size: 13px;;
}
.appItemTemplate a:hover{
    color: #0094ff;
}
.appItemTemplate a:before{
    content: "";
    font-family: 'Symbol', '微软雅黑';
}
.appItemTemplate .Abs_TR{
    color: #ccc;
}

.appItemDetailsTemplate .Table .TD:first-child{
    height: 192px;vertical-align: middle;width: 192px;text-align: center;
}
.appItemDetailsTemplate .Table .TD:nth-child(2){
    height: 192px;vertical-align: top;text-align: left;padding-left: 20px;font-size: 1.2em;line-height: 1.6em;
}
.appItemDetailsTemplate small{
    color: #999;
}
.appItemDetailsTemplate .AppImgList{

}
.appItemDetailsTemplate .AppImgList img{
    box-shadow: 0 0 5px #ccc;
    float: left;
    width: 24%;
    margin: 10px 0.5%;
}
.appItemDetailsTemplate .downloadbtn{
    margin-top: 1em;
    display: inline-block;padding: 0.75em 0.6em;line-height: 1em;
}
.appItemDetailsTemplate .UpdateContent{
    padding: 0.75em 0 0.75em 212px;
    border: none;line-height: 1.7em;
}
.LoadState{
    display: inline-block;left: 0;bottom: 0;top: 0;right: 0;margin: auto;
    line-height: 64px;
    padding: 0;
    font-family: 'Symbol', '微软雅黑';color:#446688;font-size: 64px;z-index:
        99;position: fixed;width: 64px;height: 64px;
    text-align: center;line-height: 64px;
}
.LoadState:not(.Active){
    display:none !important;
}
.LoadState.Active{
    -moz-animation: rotate 1s linear infinite;
    -o-animation: rotate 1s linear infinite;
    -webkit-animation: rotate 1s linear infinite;
    animation: rotate 1s linear infinite;
    -moz-transform-origin: center;
    -ms-transform-origin: center;
    -o-transform-origin: center;
    -webkit-transform-origin: center;
    transform-origin: center;
}
.LoadState.Active:before{
    content: "";
}